{% extends 'base_generic.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container content">
    <div class="section">
        <h2>Who Are We</h2>
        <p>This is a dedicated community that aims to connect young girls and women pursuing STEM courses to highly skilled mentors to guide them, provide support, opportunities, and resources to help them achieve their full potential.</p>
    </div>
    <div class="section">
        <h2>Our Vision</h2>
        <p>Our vision is a world where every young girl and woman has the opportunity to thrive and succeed in STEM careers. We strive to create a supportive environment that fosters growth, education, and empowerment.</p>
    </div>
    <div class="section">
        <h2>Our Mission</h2>
        <p>Our mission is to provide educational and developmental programs that help young girls and women overcome barriers and build a brighter future in the STEM fields. We are dedicated to creating pathways for success through mentorship, training, and community support.</p>
    </div>
    <div class="section images">
        <img src="https://scienceforafrica.foundation/sites/default/files/2024-03/doris%20fatu.jpg" alt="Young Girls">
        <img src="https://cse.afdb.org/sites/default/files/blog/2023-04/ARTICLE%202%20blog-women-in-sceiences3_0.jpg" alt="Women">
    </div>
    <div class="section learn-more">
        <h2>Want to Know More</h2>
        <p>Stay updated with the latest news and interesting information:</p>
        <ul>
            <li><a href="https://www.newsweek.com/chips-are-downwhy-stem-employers-must-bet-women-opinion-1928625">NewsWeek</a></li>
            <li><a href="https://wsbt.com/news/operation-education/women-science-stem-career-lab-indiana-university-south-bend-research-job-future-scholarship-enrollment-college">WSBT</a></li>
            <li><a href="https://www.maersk.com/news/articles/2024/02/21/empowering-women-in-stem-at-maersk" target=>Maersk</a></li>
            <li><a href="https://yaledailynews.com/blog/2024/02/19/open-tabs-death-of-the-women-in-stem/">Yale Daily News</a></li>
            <li><a href="https://www.bbc.com/storyworks/future/the-next-wave-empowering-global-change/women-in-stem">BBC</a></li>
        </ul>
    </div>
</div>
{% endblock %}
